// ======
// COLORS
// ======

$primary-500: hsl(237, 18%, 59%);

$tonic-500: hsl(345, 95%, 68%);

$neutral-900: hsl(234, 17%, 12%);
$neutral-800: hsl(235, 16%, 14%);
$neutral-700: hsl(236, 21%, 26%);

// ==========
// TYPOGRAPHY
// ==========

$font-text: "Red Hat Text", sans-serif;

// =======================
// TEXT AND HEADINGS SIZES
// =======================

$txt-size: 1rem;

$jumbotron-size: 4 * $txt-size;

// ====================================
// BREAKPOINTS AND CONTAINERS MAX-WIDTH
// ====================================

$small-container-width: 375px;
$large-container-width: 1440px;
